body {
    background-color: #F0E8BB;
}

h1 {
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: #9a8b37;
    width: 100%;
    border-style: outset;
    border-style: solid;
    border-width: medium;
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-color: beige
  }
  
  nav {
    background-color: #9a8b37;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border-style: outset;
    border-style: solid;
    border-width: medium;
    border-radius: 10px;
    border-color: beige
  }
  
  h2 {
    text-align: left;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #9a8b37;
    border-style: outset;
    border-style: solid;
    border-width: medium;
    border-radius: 10px;
    border-color: beige;
  }
  
  h3 {
    background-color: #9a8b37;
    border-style: outset;
    border-style: solid;
    border-width: medium;
    border-radius: 10px;
    border-color: beige;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  
  table {
    border-collapse: collapse;
  }
  td,
  th {
    border: 3px solid black;
    padding: 10px 20px;
  }

  /* Style the buttons inside the tab */
  .tab button {
    background-color: inherit;
    float: center;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
  }
  
  /* Change background color of buttons on hover */
  .tab button:hover {
  background-color: #5b5b3a;
  }